$led-room1-margin-x: 15%;
$led-room1-margin-y: 20%;

app-ledlight{
    position: absolute;
}
app-ledlight.led-room1{
    margin-left: $led-room1-margin-x;
    margin-top: $led-room1-margin-y;
}
app-ledlight.led-room2{
    margin-left: calc($led-room1-margin-x - 3%);
    margin-top: calc($led-room1-margin-y + 34.5%);
}
app-ledlight.led-living-room{
    margin-left: calc($led-room1-margin-x + 29.9029%);
    margin-top: calc($led-room1-margin-y - 1%);
}
app-ledlight.led-kitchen{
    margin-left: calc($led-room1-margin-x + 45.35%);
    margin-top: calc($led-room1-margin-y + 15%);
}
app-ledlight.led-bathroom{
    margin-left: calc($led-room1-margin-x + 42.1%);
    margin-top: calc($led-room1-margin-y + 35.5%);
}