app-ledlight{
    position: absolute;
}
app-ledlight.led-room1{
    margin-left: 10.8%;
    margin-top: 14.2%;
}
app-ledlight.led-room2{
    margin-left: 8.45%;
    margin-top: 38.5%;
}
app-ledlight.led-living-room{
    margin-left: 31.65%;
    margin-top: 13.5%;
}
app-ledlight.led-kitchen{
    margin-left: 42.65%;
    margin-top: 24.75%;
}
app-ledlight.led-bathroom{
    margin-left: 40.35%;
    margin-top: 39.25%;
}