$door-room1-margin-x: 28.75%;
$door-room1-margin-y: 27%;
app-door{
    position: absolute;
}

app-door.door-room1{
    margin-left: $door-room1-margin-x;
    margin-top: $door-room1-margin-y;
}
app-door.door-room2{
    margin-left: $door-room1-margin-x;
    margin-top: calc($door-room1-margin-y + 15%);
}
app-door.door-main{
    margin-left: calc($door-room1-margin-x + 8%);
    margin-top: calc($door-room1-margin-y + 37.5%);
}
app-door.door-back{
    margin-left: calc($door-room1-margin-x + 43%);
    margin-top: calc($door-room1-margin-y - 6.5%);
}