
app-door{
    position: absolute;
}

app-door.door-room1{
    margin-left: 20%;
    margin-top: 19%;
}
app-door.door-room2{
    margin-left: 20%;
    margin-top: 30%;
}
app-door.door-main{
    margin-left: 26%;
    margin-top: 45.5%;
}
app-door.door-back{
    margin-left: 50.5%;
    margin-top: 14.5%;
}