<main>
    <img id="house-layout-img" src="../../assets/images/houseLayout.jpeg">

    <app-door class="door-room1"></app-door>
    <app-door class="door-room2"></app-door>
    <app-door class="door-main"></app-door>
    <app-door class="door-back"></app-door>

    <app-ledlight class="led-room1"></app-ledlight>
    <app-ledlight class="led-room2"></app-ledlight>
    <app-ledlight class="led-living-room"></app-ledlight>
    <app-ledlight class="led-kitchen"></app-ledlight>
    <app-ledlight class="led-bathroom"></app-ledlight>

    <app-camera class="camera"></app-camera>

    <h1 class="title">Smart Home</h1>
</main>

